<div class="modal-container">
  <div class="modal-header" *ngIf="options.title">
    <h4 class="modal-title">{{ options.title}}</h4>
  </div>
  <div class="modal-body" [ngStyle]="{'padding': isMobile ? '0 1rem' : '1rem 1rem'}">
    <p [ngStyle]="{'padding-top': isMobile ? '0' : '40px'}" [innerHtml]="options.message">
    </p>
  </div>
  <div class="modal-footer" [ngStyle]="{'padding-bottom': isMobile ? '50px' : '60px'}">
    <button type="button" class="action btn_ok" (click)="yes();" >OK</button>
    <button type="button" class="action btn_cancel" (click)="no()"
            *ngIf="(options.type !== CONFIRM_MODAL_TYPE.notify) && (options.type !== CONFIRM_MODAL_TYPE.continue)">CANCEL</button>
    <button type="button" class="action btn_cancel" (click)="no()"
            *ngIf="options.type === CONFIRM_MODAL_TYPE.continue">CONTINUE TO EDIT</button>
  </div>
</div>
